<mat-form-field appearance="fill">
  <mat-label>Amount</mat-label>
  <input matInput [value]="email" (change)="onChangeEvent($event)">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Adress</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option>BNB
      <img with="20" height="20" src="assets/bnb-seeklogo.com.svg">
    </mat-option>
    <mat-option>ETH
      <img with="20" height="20" src="assets/eth.png">
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="onSave()">Send</button>