<mat-form-field appearance="fill">
  <mat-label>Amount</mat-label>
  <input type="number" matInput [value]="amount" (change)="onChangeEvent($event)" numbersOnly>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Adress</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
<mat-select (valueChange)="changeValue($event)" [(value)]="currencies[0].name">
  <mat-option *ngFor="let currency of currencies" [value]="currency">{{currency.name}}
    <img with="20" height="20" src={{currency.img}}/>
  </mat-option>
 </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="onSave()">Send</button>